.header {
  width: 100%;
  background-color: #292F2F;
  margin: auto;
}

.header-wrapper {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.header-imgwrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-imgwrapper img {
  width: 100%;
}

.header-nav {
  margin-left: 50px;
  display: flex;
  width: 50%;
}

.header-nav li {
  margin-left: 10px;
  font-size: 1.5rem;
}

.header-nav a {
  color: #FAFAFA;
  text-decoration: none;
}